/* CSS stylesheet for buttons */


/*add button*/
.add-button{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	background-color: #1fc600;
	border:none;
	text-align:center;
	transition: all 0.2s;
}

.add-button:hover{
	background-color:#089000;
}
@media all and (max-width:30em){
	.button1{
		display:block;
		margin:0.2em auto;
	}
}

/*delete button*/
.delete-button{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	background-color:#b53737;
	border:none;
	text-align:center;
	transition: all 0.2s;
}
.delete-button:hover{
	background-color:#800000; /*lighter shade of red*/
}

/*submit button*/
.submit-button{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	font-size: 18px;
	color:#FFFFFF;
	background-color:#4eb5f1;
	border:none;
	text-align:center;
	transition: all 0.2s;
}
.submit-button:hover{
	background-color:#01579b; /*lighter shade of red*/
}

/*back button*/
.back-button{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	font-size: 18px;
	color: black;
	background-color:#ebecf0;
	border:none;
	text-align:center;
	transition: all 0.2s;
}
.back-button:hover{
	background-color:#8594a3; /*lighter shade of red*/
}