/* CSS stylesheet for buttons */


/*add button*/
.add-button{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#1fc600;	
	background-color: #FFFFFF;
	border:none;
	text-align:center;
	transition: all 0.2s;
	cursor: pointer;
}

/*.add-button:hover{
	background-color:#089000;
}*/

/*delete button*/
.delete-button{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#b53737;
	background-color:#FFFFFF;
	border:none;
	text-align:center;
	transition: all 0.2s;
	cursor: pointer;
}
/*.delete-button:hover{
	background-color:#800000;
}*/

/*submit button*/
.submit-button{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	font-size: 18px;
	color:#FFFFFF;
	background-color:#009dbd;
	border:none;
	text-align:center;
	transition: all 0.2s;
	cursor: pointer;
}
/*.submit-button:hover{
	background-color:#01579b;
}*/

/*back button*/
.back-button{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	font-size: 18px;
	color: black;
	background-color:#ebecf0;
	border:none;
	text-align:center;
	transition: all 0.2s;
	cursor: pointer;
}

/*.back-button:hover{
	background-color:#8594a3;
}*/

.edit-button{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	font-size: 18px;
	color:#009dbd;
	background-color:#FFFFFF;
	border:none;
	text-align:center;
	transition: all 0.2s;
	cursor: pointer;
}