/* CSS stylesheet for forms */

.form-control {
  margin: 5px;
  border-radius: 4px;
  border-color: #bebebe;
  color: #black;
  background-color: #ebecf0;
  font-family:'Roboto',sans-serif;
  padding: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-control-thead {
	font-size: 15px;
	text-align: center;
}

.form-control-number {
	width: 50px;
	margin: 5px;
	border-radius: 4px;
	border-color: #bebebe;
	color: #black;
	background-color: #ebecf0;
	font-family:'Roboto',sans-serif;
	padding: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.form-control:focus {
  border-color: #008ED6;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(0, 142, 214, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(0, 142, 214, 0.6);
}